[mysqld]
character-set-server=utf8mb4
explicit-defaults-for-timestamp=1
general_log=1
general_log_file=/var/log/mysql/query.log
sql_mode=NO_ENGINE_SUBSTITUTION

[client]
default-character-set=utf8mb4
